<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [1]:
!pip install pandas
!pip install matplotlib
!pip install numpy

Collecting pandas
  Downloading pandas-3.0.0-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (79 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.4.1-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (6.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-3.0.0-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (10.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.9/10.9 MB 126.5 MB/s eta 0:00:00
Downloading numpy-2.4.1-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (16.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.4/16.4 MB 149.6 MB/s eta 0:00:00
Installing collected packages: numpy, pandas
Successfully installed numpy-2.4.1 pandas-3.0.0
Collecting matplotlib
  Downloading matplotlib-3.10.8-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (52 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.3-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.61.1-cp312-cp312-manylinux1_x86_64.manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_5_x86_64.whl.metadata (114 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.9-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (6.3 kB)
Requirement already satisfied: numpy>=1.23 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.4.1)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (24.2)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-12.1.0-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (8.8 kB)
Collecting pyparsing>=3 (from matplotlib)
  Downloading pyparsing-3.3.2-py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Downloading matplotlib-3.10.8-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (8.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.7/8.7 MB 146.6 MB/s eta 0:00:00
Downloading contourpy-1.3.3-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (362 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.61.1-cp312-cp312-manylinux1_x86_64.manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_5_x86_64.whl (5.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.0/5.0 MB 133.7 MB/s eta 0:00:00
Downloading kiwisolver-1.4.9-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (1.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 84.3 MB/s eta 0:00:00
Downloading pillow-12.1.0-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (7.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.0/7.0 MB 150.3 MB/s eta 0:00:00
Downloading pyparsing-3.3.2-py3-none-any.whl (122 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.3.3 cycler-0.12.1 fonttools-4.61.1 kiwisolver-1.4.9 matplotlib-3.10.8 pillow-12.1.0 pyparsing-3.3.2
Requirement already satisfied: numpy in /opt/conda/lib/python3.12/site-packages (2.4.1)

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [2]:
# Import necessary libraries
import pandas as pd
import numpy as np
# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [3]:
# Write your code here
pd.set_option('display.max_rows', None)
df.info(verbose=True, show_counts=True)

<class 'pandas.DataFrame'>
RangeIndex: 65437 entries, 0 to 65436
Data columns (total 114 columns):
 #    Column                          Non-Null Count  Dtype
---   ------                          --------------  -----
 0    ResponseId                      65437 non-null  int64
 1    MainBranch                      65437 non-null  str
 2    Age                             65437 non-null  str
 3    Employment                      65437 non-null  str
 4    RemoteWork                      54806 non-null  str
 5    Check                           65437 non-null  str
 6    CodingActivities                54466 non-null  str
 7    EdLevel                         60784 non-null  str
 8    LearnCode                       60488 non-null  str
 9    LearnCodeOnline                 49237 non-null  str
 10   TechDoc                         40897 non-null  str
 11   YearsCode                       59869 non-null  str
 12   YearsCodePro                    51610 non-null  str
 13   DevType                         59445 non-null  str
 14   OrgSize                         47480 non-null  str
 15   PurchaseInfluence               47406 non-null  str
 16   BuyNewTool                      45181 non-null  str
 17   BuildvsBuy                      43358 non-null  str
 18   TechEndorse                     43668 non-null  str
 19   Country                         58930 non-null  str
 20   Currency                        46684 non-null  str
 21   CompTotal                       33740 non-null  float64
 22   LanguageHaveWorkedWith          59745 non-null  str
 23   LanguageWantToWorkWith          55752 non-null  str
 24   LanguageAdmired                 50872 non-null  str
 25   DatabaseHaveWorkedWith          50254 non-null  str
 26   DatabaseWantToWorkWith          42558 non-null  str
 27   DatabaseAdmired                 38557 non-null  str
 28   PlatformHaveWorkedWith          42366 non-null  str
 29   PlatformWantToWorkWith          34532 non-null  str
 30   PlatformAdmired                 31377 non-null  str
 31   WebframeHaveWorkedWith          45161 non-null  str
 32   WebframeWantToWorkWith          38535 non-null  str
 33   WebframeAdmired                 34943 non-null  str
 34   EmbeddedHaveWorkedWith          22214 non-null  str
 35   EmbeddedWantToWorkWith          17600 non-null  str
 36   EmbeddedAdmired                 16733 non-null  str
 37   MiscTechHaveWorkedWith          39443 non-null  str
 38   MiscTechWantToWorkWith          32964 non-null  str
 39   MiscTechAdmired                 29596 non-null  str
 40   ToolsTechHaveWorkedWith         52482 non-null  str
 41   ToolsTechWantToWorkWith         46084 non-null  str
 42   ToolsTechAdmired                43997 non-null  str
 43   NEWCollabToolsHaveWorkedWith    57592 non-null  str
 44   NEWCollabToolsWantToWorkWith    52087 non-null  str
 45   NEWCollabToolsAdmired           50711 non-null  str
 46   OpSysPersonal use               58174 non-null  str
 47   OpSysProfessional use           52973 non-null  str
 48   OfficeStackAsyncHaveWorkedWith  48093 non-null  str
 49   OfficeStackAsyncWantToWorkWith  38966 non-null  str
 50   OfficeStackAsyncAdmired         37204 non-null  str
 51   OfficeStackSyncHaveWorkedWith   55545 non-null  str
 52   OfficeStackSyncWantToWorkWith   46711 non-null  str
 53   OfficeStackSyncAdmired          44712 non-null  str
 54   AISearchDevHaveWorkedWith       44453 non-null  str
 55   AISearchDevWantToWorkWith       36701 non-null  str
 56   AISearchDevAdmired              35543 non-null  str
 57   NEWSOSites                      60286 non-null  str
 58   SOVisitFreq                     59536 non-null  str
 59   SOAccount                       59560 non-null  str
 60   SOPartFreq                      45237 non-null  str
 61   SOHow                           58962 non-null  str
 62   SOComm                          59163 non-null  str
 63   AISelect                        60907 non-null  str
 64   AISent                          45873 non-null  str
 65   AIBen                           36894 non-null  str
 66   AIAcc                           37302 non-null  str
 67   AIComplex                       37021 non-null  str
 68   AIToolCurrently Using           35072 non-null  str
 69   AIToolInterested in Using       30691 non-null  str
 70   AIToolNot interested in Using   24414 non-null  str
 71   AINextMuch more integrated      13438 non-null  str
 72   AINextNo change                 12498 non-null  str
 73   AINextMore integrated           24428 non-null  str
 74   AINextLess integrated           2355 non-null   str
 75   AINextMuch less integrated      1148 non-null   str
 76   AIThreat                        44689 non-null  str
 77   AIEthics                        41548 non-null  str
 78   AIChallenges                    37531 non-null  str
 79   TBranch                         44477 non-null  str
 80   ICorPM                          29801 non-null  str
 81   WorkExp                         29658 non-null  float64
 82   Knowledge_1                     28664 non-null  str
 83   Knowledge_2                     28021 non-null  str
 84   Knowledge_3                     28095 non-null  str
 85   Knowledge_4                     28030 non-null  str
 86   Knowledge_5                     27880 non-null  str
 87   Knowledge_6                     27864 non-null  str
 88   Knowledge_7                     27778 non-null  str
 89   Knowledge_8                     27758 non-null  str
 90   Knowledge_9                     27635 non-null  str
 91   Frequency_1                     28369 non-null  str
 92   Frequency_2                     28364 non-null  str
 93   Frequency_3                     27710 non-null  str
 94   TimeSearching                   28911 non-null  str
 95   TimeAnswering                   28844 non-null  str
 96   Frustration                     28251 non-null  str
 97   ProfessionalTech                27764 non-null  str
 98   ProfessionalCloud               28491 non-null  str
 99   ProfessionalQuestion            28807 non-null  str
 100  Industry                        28858 non-null  str
 101  JobSatPoints_1                  29324 non-null  float64
 102  JobSatPoints_4                  29393 non-null  float64
 103  JobSatPoints_5                  29411 non-null  float64
 104  JobSatPoints_6                  29450 non-null  float64
 105  JobSatPoints_7                  29448 non-null  float64
 106  JobSatPoints_8                  29456 non-null  float64
 107  JobSatPoints_9                  29456 non-null  float64
 108  JobSatPoints_10                 29450 non-null  float64
 109  JobSatPoints_11                 29445 non-null  float64
 110  SurveyLength                    56182 non-null  str
 111  SurveyEase                      56238 non-null  str
 112  ConvertedCompYearly             23435 non-null  float64
 113  JobSat                          29126 non-null  float64
dtypes: float64(13), int64(1), str(100)
memory usage: 56.9 MB

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [4]:
# Write your code here
print(df.describe())

         ResponseId      CompTotal       WorkExp  JobSatPoints_1  \
count  65437.000000   3.374000e+04  29658.000000    29324.000000
mean   32719.000000  2.963841e+145     11.466957       18.581094
std    18890.179119  5.444117e+147      9.168709       25.966221
min        1.000000   0.000000e+00      0.000000        0.000000
25%    16360.000000   6.000000e+04      4.000000        0.000000
50%    32719.000000   1.100000e+05      9.000000       10.000000
75%    49078.000000   2.500000e+05     16.000000       22.000000
max    65437.000000  1.000000e+150     50.000000      100.000000

       JobSatPoints_4  JobSatPoints_5  JobSatPoints_6  JobSatPoints_7  \
count    29393.000000    29411.000000    29450.000000     29448.00000
mean         7.522140       10.060857       24.343232        22.96522
std         18.422661       21.833836       27.089360        27.01774
min          0.000000        0.000000        0.000000         0.00000
25%          0.000000        0.000000        0.000000         0.00000
50%          0.000000        0.000000       20.000000        15.00000
75%          5.000000       10.000000       30.000000        30.00000
max        100.000000      100.000000      100.000000       100.00000

       JobSatPoints_8  JobSatPoints_9  JobSatPoints_10  JobSatPoints_11  \
count    29456.000000    29456.000000     29450.000000     29445.000000
mean        20.278165       16.169432        10.955713         9.953948
std         26.108110       24.845032        22.906263        21.775652
min          0.000000        0.000000         0.000000         0.000000
25%          0.000000        0.000000         0.000000         0.000000
50%         10.000000        5.000000         0.000000         0.000000
75%         25.000000       20.000000        10.000000        10.000000
max        100.000000      100.000000       100.000000       100.000000

       ConvertedCompYearly        JobSat
count         2.343500e+04  29126.000000
mean          8.615529e+04      6.935041
std           1.867570e+05      2.088259
min           1.000000e+00      0.000000
25%           3.271200e+04      6.000000
50%           6.500000e+04      7.000000
75%           1.079715e+05      8.000000
max           1.625660e+07     10.000000

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [5]:
EdLevel_counts = df['EdLevel'].value_counts()
print(EdLevel_counts)

EdLevel
Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          24942
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       15557
Some college/university study without earning a degree                                 7651
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     5793
Professional degree (JD, MD, Ph.D, Ed.D, etc.)                                         2970
Associate degree (A.A., A.S., etc.)                                                    1793
Primary/elementary school                                                              1146
Something else                                                                          932
Name: count, dtype: int64

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [6]:
## Write your code here
ed_level_map = {
    'Bachelor’s degree (B.A., B.S., B.Eng., etc.)': 'Bachelor',
    'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)': 'Master',
    'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)': 'High School',
    'Some college/university study without earning a degree': 'Undergraduate',
    'Professional degree (JD, MD, Ph.D, Ed.D, etc.)': 'Professional',
    'Associate degree (A.A., A.S., etc.)': 'Associate'
}

df['EdLevel'] = df['EdLevel'].replace(ed_level_map) 
print(df['EdLevel'].unique())

<StringArray>
['Primary/elementary school',                  'Bachelor',
                    'Master',             'Undergraduate',
               'High School',              'Professional',
                 'Associate',            'Something else',
                         nan]
Length: 9, dtype: str

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [7]:
## Write your code here

df_one_hot = pd.get_dummies(df, columns=['Employment'], dtype=int)
print(df_one_hot.head())

   ResponseId                      MainBranch                 Age RemoteWork  \
0           1  I am a developer by profession  Under 18 years old     Remote
1           2  I am a developer by profession     35-44 years old     Remote
2           3  I am a developer by profession     45-54 years old     Remote
3           4           I am learning to code     18-24 years old        NaN
4           5  I am a developer by profession     18-24 years old        NaN

    Check                                   CodingActivities  \
0  Apples                                              Hobby
1  Apples  Hobby;Contribute to open-source projects;Other...
2  Apples  Hobby;Contribute to open-source projects;Other...
3  Apples                                                NaN
4  Apples                                                NaN

                     EdLevel  \
0  Primary/elementary school
1                   Bachelor
2                     Master
3              Undergraduate
4                High School

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  \
0                                                NaN
1  Technical documentation;Blogs;Books;Written Tu...
2  Technical documentation;Blogs;Books;Written Tu...
3  Stack Overflow;How-to videos;Interactive tutorial
4  Technical documentation;Blogs;Written Tutorial...

                                             TechDoc  ...  \
0                                                NaN  ...
1  API document(s) and/or SDK document(s);User gu...  ...
2  API document(s) and/or SDK document(s);User gu...  ...
3                                                NaN  ...
4  API document(s) and/or SDK document(s);User gu...  ...

  Employment_Student, full-time;Not employed, but looking for work;Not employed, and not looking for work;Student, part-time  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

  Employment_Student, full-time;Not employed, but looking for work;Retired  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

  Employment_Student, full-time;Not employed, but looking for work;Student, part-time  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

  Employment_Student, full-time;Retired  \
0                                     0
1                                     0
2                                     0
3                                     0
4                                     0

  Employment_Student, full-time;Student, part-time  \
0                                                0
1                                                0
2                                                0
3                                                0
4                                                0

  Employment_Student, full-time;Student, part-time;Employed, part-time  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

  Employment_Student, full-time;Student, part-time;Retired  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

  Employment_Student, part-time  \
0                             0
1                             0
2                             0
3                             0
4                             0

  Employment_Student, part-time;Employed, part-time  \
0                                                 0
1                                                 0
2                                                 0
3                                                 0
4                                                 0

  Employment_Student, part-time;Retired
0                                     0
1                                     0
2                                     0
3                                     0
4                                     0

[5 rows x 223 columns]

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [8]:
## Write your code here
missing_values = df.isnull().sum().sort_values(ascending=False)
print(missing_values.head(15))
print(df.shape)

AINextMuch less integrated       64289
AINextLess integrated            63082
AINextNo change                  52939
AINextMuch more integrated       51999
EmbeddedAdmired                  48704
EmbeddedWantToWorkWith           47837
EmbeddedHaveWorkedWith           43223
ConvertedCompYearly              42002
AIToolNot interested in Using    41023
AINextMore integrated            41009
Knowledge_9                      37802
Frequency_3                      37727
Knowledge_8                      37679
ProfessionalTech                 37673
Knowledge_7                      37659
dtype: int64
(65437, 114)

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [9]:
## Write your code here

median_value_CCY = df['ConvertedCompYearly'].median()
df['ConvertedCompYearly'] = df['ConvertedCompYearly'].fillna(median_value_CCY)

print(f"Empty rows is: {df['ConvertedCompYearly'].isnull().sum()}")

Empty rows is: 0

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [10]:
## Write your code here
freq_value_RW = df['RemoteWork'].mode()[0]
print(freq_value_RW)
df['RemoteWork'] = df['RemoteWork'].fillna(freq_value_RW)
print(f"Empty cells in RW column: {df['RemoteWork'].isnull().sum()}")

Hybrid (some remote, some in-person)
Empty cells in RW column: 0

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [11]:
## Write your code here
min_val = df['ConvertedCompYearly'].min()
max_val = df['ConvertedCompYearly'].max()

df['ConvertedCompYearly'] = (df['ConvertedCompYearly'] - min_val) / (max_val - min_val)

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [12]:
## Write your code here
df['ConvertedCompYearly_log'] = np.log1p(df['ConvertedCompYearly'])

print(df[['ConvertedCompYearly', 'ConvertedCompYearly_log']].head())

print("Skewness voor transformatie:", df['ConvertedCompYearly'].skew())
print("Skewness na transformatie:", df['ConvertedCompYearly_log'].skew())

   ConvertedCompYearly  ConvertedCompYearly_log
0             0.003998                  0.00399
1             0.003998                  0.00399
2             0.003998                  0.00399
3             0.003998                  0.00399
4             0.003998                  0.00399
Skewness voor transformatie: 87.70825827466595
Skewness na transformatie: 64.33324489237067

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [20]:
## Write your code here
#To check the daata
print(df['YearsCodePro'].head(20))
print(df['YearsCodePro'].isnull().sum())

#To transform the data from a str to a float
df['YearsCodePro'] = pd.to_numeric(df['YearsCodePro'], errors='coerce')
print(df['YearsCodePro'].dtype)

#To create segmentation based on the years of experience
bins = [-1, 2, 5, 10, np.inf]
labels = ['Junior', 'Intermediate', 'Senior', 'Expert']
df['ExperienceLevel'] = pd.cut(df['YearsCodePro'], bins=bins, labels=labels) 


print(df['ExperienceLevel'].value_counts())
print(df['ExperienceLevel'].head(10))

0      NaN
1     17.0
2     27.0
3      NaN
4      NaN
5      NaN
6      7.0
7      NaN
8      NaN
9     11.0
10     NaN
11    25.0
12    12.0
13     NaN
14    10.0
15    27.0
16     NaN
17     3.0
18    10.0
19    11.0
Name: YearsCodePro, dtype: float64
16733
ExperienceLevel
Expert          18410
Senior          12653
Intermediate    10834
Junior           6807
Name: count, dtype: int64
0       NaN
1    Expert
2    Expert
3       NaN
4       NaN
5       NaN
6    Senior
7       NaN
8       NaN
9    Expert
Name: ExperienceLevel, dtype: category
Categories (4, str): ['Junior' < 'Intermediate' < 'Senior' < 'Expert']

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.